.latestCard {
    margin: 0 auto;
}

.latestCardImage {
    width: 10rem;
    height: 10rem;
    max-width: 10rem;
    max-height: 10rem;
}
.exploreLink {
    color: var(--primary);
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.exploreLink:hover {
    color: var(--blue-dark);
}